<div align="center">
  <mat-form-field style="width: 300px;" appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe un Proveedor">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button
    [routerLink]="['/proveedor/add']"
    mat-mini-fab
    color="primary"
    matTooltip="Añadir Proveedor"
    aria-label="Botón que añade un proveedor">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8">

  <!-- Razón Social -->
  <ng-container matColumnDef="razon_social">
    <th mat-header-cell *matHeaderCellDef>Razón Social</th>
    <td mat-cell *matCellDef="let proper">{{proper.razon_social}}</td>
  </ng-container>

  <!--Rubro-->
  <ng-container matColumnDef="rubro">
    <th mat-header-cell *matHeaderCellDef>Rubro</th>
    <td mat-cell *matCellDef="let proper">{{proper.rubro}}</td>
  </ng-container>

  <!--RUC-->
  <ng-container matColumnDef="ruc">
    <th mat-header-cell *matHeaderCellDef>RUC</th>
    <td mat-cell *matCellDef="let proper">{{proper.RUC}}</td>
  </ng-container>

  <!--Email-->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let proper">{{proper.email}}</td>
  </ng-container>

  <!--Fecha de Nacimiento-->
  <ng-container matColumnDef="fechanacimiento">
    <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
    <td mat-cell *matCellDef="let proper">{{proper.fechanacimiento}}</td>
  </ng-container>

  <!--Celular-->
  <ng-container matColumnDef="celular">
    <th mat-header-cell *matHeaderCellDef>Celular</th>
    <td mat-cell *matCellDef="let proper">{{proper.celular}}</td>
  </ng-container>

  <!--Telefono-->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
    <td mat-cell *matCellDef="let proper">{{proper.telefono}}</td>
  </ng-container>

  <!--Dirección-->
  <ng-container matColumnDef="direccion">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let proper">{{proper.direccion}}</td>
  </ng-container>

  <!--Delete & Edit-->
  <ng-container matColumnDef="acciones" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let proper">
      <button
        mat-icon-button
        [routerLink]="['/proveedor/edit', proper.idpersona]"
        matTooltip="Editar Administrativo"
        aria-label="Boton que edita un administrativo">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="deletePersona(proper.idpersona)"
        mat-icon-button
        matTooltip = "Eliminar Administrativo"
        aria-label="Botón que elimina un equipo">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>

</table>
