<div align="center">
    <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe un técnico">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Tecnico Column -->
    <ng-container matColumnDef="tecnico" sticky>
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let t"> {{t.tecnico}} </td>
    </ng-container>

    <!-- Función Column -->
    <ng-container matColumnDef="funcion">
        <th mat-header-cell *matHeaderCellDef> Función </th>
        <td mat-cell *matCellDef="let t"> {{t.funcion}} </td>
    </ng-container>

    <!-- Comentario Column -->
    <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let t"> {{t.comentario}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>